@import url("https://use.fontawesome.com/releases/v5.0.0/css/all.css");

/**
INICIO - ESTILO GERAL
**/
html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body{
    overflow-x: hidden;
    width: 100vw;
}

.titulos{
    background-color: #E02D42;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
}
/**
FIM - ESTILO GERAL
**/

/**
INICIO - ESTILO ELEMENTOS DA NAVBAR
**/
.menu-element{
    margin-top: 8vh !important;
    width: 100vw !important;
}

.toggler-btn{
    border: 0;
}
/**
FIM - ESTILO ELEMENTOS DA NAVBAR
**/

.contato{
    height: 8vh;
    background-color: white;
    color:#E02D42;
    margin: 0 !important;
    text-align: center;
    padding: 2vh 0 0 0 !important;
    width: 100vw;
}

.contato a{
    text-decoration: none;
    color: #E02D42;
    font-family: 'Montserrat', sans-serif;
    font-size: .88rem;
    width: 100%;
    height: 100%;
    display: block;
}

.contato a::before{
    content: '\f232';
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #009344;
    margin-right: .5%;
}

.header{
    background-color: gray;
    height: 40vh;
    width: 100vw;
    overflow-x: hidden !important;
}

/**
INICIO - ESTILO DO MENU CARDAPIO
**/
.menu-cardapio-container{
    overflow-x: hidden !important;
    width: 100vw;
}
.menu-cardapio{
    text-align: center;
    background-color: #E02D42;
    width: 100vw;
}

.menu-cardapio li{
    display: inline;
    list-style: none;
    height: 7vh;
    padding: 2vh 0 0 0 !important;
}

.menu-cardapio li:hover{
    background-color: #47070F;
    transition: ease .4s;
    font-weight: bolder;
}


.menu-cardapio a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 1px solid white;
}

/**
FIM - ESTILO DO MENU CARDAPIO
**/

/**
INCIO - ESTILO DO CARDAPIO
**/
#cardapio-descricao{
    margin-bottom: 2vh;
}
#cardapio-foto{
    background-color: gray;
    height: 100% important;
}
/**
FIM - ESTILO DO CARDAPIO
**/


/**
INICIO - ESTILO FORMULARIO INDEX
**/
.formulario input {
    margin: 1.5% 0 1.5% 0 !important;
}
.formulario textarea {
    margin: 1.5% 0 1.5% 0 !important;
    resize: none;
}

.submit-btn{
    text-align-last: center !important;
}

.formulario button{
    width: 35%;
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #E02D42;
    color: white;
    padding: 1.2% 0 1.2% 0 !important;
}

.formulario button:hover{
    background-color: #009344;
    color: white;
    transition: ease-out .3s;
}


/**
FIM - ESTILO FORMULARIO INDEX
**/